<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NeoStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2D1757A1EF8E1BE00C5E0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2D1758E1EF8E1BF00C5E0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2D175991EF8E1BF00C5E0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
